 #home {
  background: url("../../img/bg.jpg");
  min-height: 625px;
  background-size: cover;

}
#home .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 625px;
  background-color: rgba(0, 0, 0, 0.5);
}
input[type="text"] {
  padding: 8px 40px;
  display: block;
  margin-right: auto;
  margin-top: 30px;
  margin-left: auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

